APP_NAME=tg-bitget-trading-bot
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_MINIAPP_URL=https://your-domain/miniapp

TRADINGVIEW_PASSPHRASE=your_tv_secret

BITGET_BASE_URL=https://api.bitget.com
BITGET_API_KEY=
BITGET_API_SECRET=
BITGET_PASSPHRASE=
